.receipts__container.container
{
	// padding: 0 20px;
}

.receipts__title
{
	padding: 0 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 20px;

	h2
	{
		margin-bottom: 0;
	}
}

.receipts__title-buttons
{
	display: flex;
	align-items: center;
}

.g-title-button
{
	display: flex;
	align-items: center;
	border: 1px solid #1C294D26;
	outline: none;
	padding: 10px 10px;
}

.receipts__title-button_left{border-radius: 5px 0 0 5px;}
.receipts__title-button_right{border-radius: 0 5px 5px 0;}

// RECEIPTS__CORUSEL

.receipts__book-img
{
	position: relative;

	span{position: absolute;}

	span:nth-child(1)
	{
		background-color: #EEE9F7;
		font-size: 22px;
	}

	span:nth-child(2)
	{
		background-color: #FFEEEE;
	}
}