<div class="receipts">
	<div class="receipts__container">
		<div class="receipts__header">
			<h2>Новые поступления</h2>
			<div class="receipts__slider__buttons">
					<button class="receipts__header__btn-left"><p><i class="arrow btn-left"></i></p></button>
					<button class="receipts__header__btn-right"><p><i class="arrow btn-right"></i></p></button>
			</div>
		</div>
		<div class="receipts__items-container">
			<div class="receipts__item">
				<span class="item__bestseller">
					Бестселлер
				</span>
				<span class="item__stock">
					1+1=3
				</span>
				<img src="img/1.png" alt="" class="book">
				<div class="item__description">
					<p class="item__name">
						Корпоративное право
					</p>
					<p class="description">
						Инвестирование: способы, риски, субъекты : монография
					</p>
					<p class="item__author">
						Майфат А.В.
					</p>
					<p class="item__price">
						4 450 ₽ 
					</p>
					<span class="item__rating">{% include '/assets/svg/star.svg' %} 4.9</span>
					<span class="item__recommendation">{% include '/assets/svg/like.svg' %} 89% рекомендуют</span>
					<div class="item__button">
						<button class="item__buy">
							{% include '/assets/svg/bagorange.svg' %}
							В корзину
						</button>
						<button class="item__bookmark">
							{% include '/assets/svg/mark.svg' %}
						</button>
					</div>
				</div>
			</div>
			<div class="receipts__item">
				<span class="item__bestseller second">
					Новинка
				</span>
				<img src="img/2.png" alt="" class="book">
				<div class="item__description">
					<p class="item__name">
						Договорное право
					</p>
					<p class="description">
						Договор коммерческой концессии (франчайзинг). Граж...
					</p>
					<p class="item__author">
						Багдасарян А.Ф.
					</p>
					<p class="item__price">
						372 ₽ 
					</p>
					<span class="item__rating">{% include '/assets/svg/star.svg' %} 4.9</span>
					<span class="item__recommendation">{% include '/assets/svg/like.svg' %} 89% рекомендуют</span>
					<div class="item__button">
						<button class="item__buy">
							{% include '/assets/svg/bagorange.svg' %}
							В корзину
						</button>
						<button class="item__bookmark">
							{% include '/assets/svg/mark.svg' %}
						</button>
					</div>
				</div>
			</div>
			<div class="receipts__item">
				<img src="img/3.png" alt="" class="book">
				<div class="item__description">
					<p class="item__name">
						Конкурентное право
					</p>
					<p class="description">
						Договор коммерческой концессии (франчайзинг). Граж...
					</p>
					<p class="item__author">
						Башлаков-Николаев И.В.
					</p>
					<div class="item__description__price">
						<p class="item__price active">
						984 ₽
						</p>
						<p class="item__price noactive">
						1284 ₽ <span class="line">{% include '/assets/svg/zacherknut.svg' %}</span>
						</p>
						<p class="green">Выгода 300 ₽ </p>
					</div>
					<span class="item__rating">{% include '/assets/svg/star.svg' %} 4.9</span>
					<span class="item__recommendation">{% include '/assets/svg/like.svg' %} 89% рекомендуют</span>
					<div class="item__button">
						<button class="item__buy">
							{% include '/assets/svg/bagorange.svg' %}
							В корзину
						</button>
						<button class="item__bookmark">
							{% include '/assets/svg/mark.svg' %}
						</button>
					</div>
				</div>
			</div>
			<div class="receipts__item">
				<span class="item__bestseller">
					Бестселлер
				</span>
				<span class="item__stock">
					1+1=3
				</span>
				<img src="img/1.png" alt="" class="book">
				<div class="item__description">
					<p class="item__name">
						Корпоративное право
					</p>
					<p class="description">
						Инвестирование: способы, риски, субъекты : монография
					</p>
					<p class="item__author">
						Майфат А.В.
					</p>
					<p class="item__price">
						4 450 ₽ 
					</p>
					<span class="item__rating">{% include '/assets/svg/star.svg' %} 4.9</span>
					<span class="item__recommendation">{% include '/assets/svg/like.svg' %} 89% рекомендуют</span>
					<div class="item__button">
						<button class="item__buy">
							{% include '/assets/svg/bagorange.svg' %}
							В корзину
						</button>
						<button class="item__bookmark">
							{% include '/assets/svg/mark.svg' %}
						</button>
					</div>
				</div>
			</div>
		</div>
		<div class="receipts__btn">
			<button class="show-books">
			<p>Показать все книги раздела</p>
			</button>
		</div>
		<div class="receipts__email">
			<div class="receipts__email__curve">
					{% include '/assets/svg/curveorange.svg' %}
			</div>
				<p class="email__text" >Скидка 200 ₽ при подписке на рассылку Издательства</p>
			<form action="">
				<input type="text" class="receipts__email__input" value="Введите ваш Email">
				<input type="submit" value="Подписаться" class="receipts__email__btn">
			</form>
		</div>

	</div>
</div>