<div class="receipts">
	<div class="receipts__container container">
		<div class="receipts__title g-title">
			<h2>{{name}}</h2>
			<div class="receipts__title-buttons g-title-buttons">
				<button class="receipts__title-button_left g-title-button">{% include "assets/svg/arrowleft.svg" %}</button>
				<button class="receipts__title-button_right g-title-button">{% include "assets/svg/arrowright.svg" %}</button>
			</div>
		</div>
		<div class="receipts__carousel">
			<div class="receipts__carousel-book">
				<div class="receipts__book-img">
					<img src="img/1.png" alt="##" class="receipts__book-img1">
					<span>Бестселлер</span>
					<span>1+1=3</span>
				</div>
				<div class="receipts__book-genre g-book-genre">
					<span>Корпоративное право</span>
				</div>
				<div class="receipts__book-description g-book-description">
					<span>Инвестирование: способы, риски, субъекты : монография</span>
				</div>
					<div class="receipts__book-author g-book-author"><span>Майфат А.В.</span></div>
				<div class="receipts__book-price g-book-price">4 450 ₽ </div>
				<div class="receipts__book-grade">
					<span class="receipts__book-reiting">
					{% include "assets/svg/star.svg" %}
					4.9
					</span>
					<span class="receipts__book-recomendation">
						{% include "assets/svg/like.svg" %}
						89% рекомендуют
					</span>
				</div>
				<div class="receipts__book-button g-book-button">
					<button>
						{% include "assets/svg/bagorange.svg" %}
						<span>В корзину</span>
					</button>
					<button>
						{% include "assets/svg/mark.svg" %}
					</button>
				</div>
			</div>
			<div class="receipts__carousel-book">
				<div class="receipts__book-img">
					<img src="img/2.png" alt="#" class="receipts__book-img2">
					<span>Новинка</span>
				</div>
				<div class="receipts__book-genre g-book-genre">
					<span>Договорное право</span>
				</div>
				<div class="receipts__book-description g-book-description">
					<span>Договор коммерческой концессии (франчайзинг).</span>
				</div>
					<div class="receipts__book-author g-book-author"><span>Багдасарян А.Ф.</span></div>
				<div class="receipts__book-price g-book-price">372 ₽</div>
				<div class="receipts__book-grade">
					<span class="receipts__book-reiting">
					{% include "assets/svg/star.svg" %}
					4.9
					</span>
					<span class="receipts__book-recomendation">
						{% include "assets/svg/like.svg" %}
						89% рекомендуют
					</span>
				</div>
				<div class="receipts__book-button g-book-button">
					<button>
						{% include "assets/svg/bagorange.svg" %}
						<span>В корзину</span>
					</button>
					<button>
						{% include "assets/svg/mark.svg" %}
					</button>
				</div>
			</div>
			<div class="receipts__carousel-book">
				<div class="receipts__book-img">
					<img src="img/3.png" alt="#" class="receipts__book-img3">
				</div>
				<div class="receipts__book-genre g-book-genre">
					<span>Конкурентное право</span>
				</div>
				<div class="receipts__book-description g-book-description">
					<span>Договор коммерческой концессии (франчайзинг). </span>
				</div>
					<div class="receipts__book-author g-book-author"><span>Башлаков-Николаев И.В.</span></div>
				<div class="receipts__book-price g-book-price">984 ₽ <span>1 284 ₽ {% include "assets/svg/zacherknut.svg" %}</span><span>Выгода 300 ₽</span></div>
				<div class="receipts__book-grade">
					<span class="receipts__book-reiting">
					{% include "assets/svg/star.svg" %}
					4.9
					</span>
					<span class="receipts__book-recomendation">
						{% include "assets/svg/like.svg" %}
						89% рекомендуют
					</span>
				</div>
				<div class="receipts__book-button g-book-button">
					<button>
						{% include "assets/svg/bagorange.svg" %}
						<span>В корзину</span>
					</button>
					<button>
						{% include "assets/svg/mark.svg" %}
					</button>
				</div>
			</div>
			<div class="receipts__carousel-book">
				<div class="receipts__book-img">
					<img src="img/1.png" alt="#" class="receipts__book-img1">
					<span>Бестселлер</span>
					<span>1+1=3</span>
				</div>
				<div class="receipts__book-genre g-book-genre">
					<span>Корпоративное право</span>
				</div>
				<div class="receipts__book-description g-book-description">
					<span>Инвестирование: способы, риски, субъекты : монография</span>
				</div>
					<div class="receipts__book-author g-book-author"><span>Майфат А.В.</span></div>
				<div class="receipts__book-price g-book-price">450  ₽ </div>
				<div class="receipts__book-grade">
					<span class="receipts__book-reiting">
					{% include "assets/svg/star.svg" %}
					4.9
					</span>
					<span class="receipts__book-recomendation">
						{% include "assets/svg/like.svg" %}
						89% рекомендуют
					</span>
				</div>
				<div class="receipts__book-button g-book-button">
					<button>
						{% include "assets/svg/bagorange.svg" %}
						<span>В корзину</span>
					</button>
					<button>
						{% include "assets/svg/mark.svg" %}
					</button>
				</div>
			</div>
		</div>
		<div class="receipts__show g-show">
			<button class="receipts__show-button g-show-button">
				<span class="receipts__show-button_desktop">Показать все книги раздела</span>
				<span class="receipts__show-button_mobile g-show-button_mobile">Показать все книги</span>
			</button>
		</div>
	</div>
</div>