<div class="news">
	<div class="news__container ">
		<div class="news__header-container title-container">
			<h2 class="news__header-title">Новости</h2>
			<div class="receipts__slider__buttons">
					<button class="receipts__header__btn-left"><p><i class="arrow btn-left"></i></p></button>
					<button class="receipts__header__btn-right"><p><i class="arrow btn-right"></i></p></button>
			</div>
		</div>
		<div class="news__cards-container">
			<div class="news__card-container">
				<img src="img/card1.png" alt="" class="news__card-img">
				<div class="news__card-date">
					<time>16 июня 2020</time>
				</div>
				<h4 class="news__card-title">
				Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
				</h4>
				<p class="news__card-text">
					18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
				</p>
				<button class="news__card-button">
					Читать
				</button>
			</div>
			<div class="news__card-container">
				<img src="img/card2.png" alt="" class="news__card-img">
				<div class="news__card-date">
					<time>16 июня 2020</time>
				</div>
				<h4 class="news__card-title">
				Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
				</h4>
				<p class="news__card-text">
					18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
				</p>
				<button class="news__card-button">
					Читать
				</button>
			</div>
			<div class="news__card-container">
				<img src="img/card3.png" alt="" class="news__card-img">
				<div class="news__card-date">
					<time>16 июня 2020</time>
				</div>
				<h4 class="news__card-title">
				Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...
				</h4>
				<p class="news__card-text">
					18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...
				</p>
				<button class="news__card-button">
					Читать
				</button>
			</div>
		</div>
	</div>
	<div class="receipts__btn news-button ">
				<button class="show-books">
					<p>Показать все новости</p>
				</button>
			</div>
</div>