<div class="news">
	<div class="container">
		<div class="news__title g-title">
			<h2>{{name}}</h2>
			<div class="news__title-buttons g-title-buttons">
				<button class="news__title-button_left g-title-button">{% include "assets/svg/arrowleft.svg" %}</button>
				<button class="news__title-button_right g-title-button">{% include "assets/svg/arrowright.svg" %}</button>
			</div>
		</div>
		<div class="news__carousel">
			<div class="news__carousel-card">
				<div class="news__card-img">
					<img src="img/bibli.png" alt="">
				</div>
				<time datetime="2020-06-16">16 июня 2020</time>
				<div class="news__card-text">
					<h4>Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h4>
					<p>18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
				</div>
				<button class="news__card-button">
				Читать
				</button>
			</div>
			<div class="news__carousel-card">
				<div class="news__card-img">
					<img src="img/dom.png" alt="">
				</div>
				<time datetime="2020-06-16">16 июня 2020</time>
				<div class="news__card-text">
					<h4>Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h4>
					<p>18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
				</div>
				<button class="news__card-button">
				Читать
				</button>
			</div>
			<div class="news__carousel-card">
				<div class="news__card-img">
					<img src="img/vesi.png" alt="">
				</div>
				<time datetime="2020-06-16">16 июня 2020</time>
				<div class="news__card-text">
					<h4>Бесплатный онлайн-семинар. Доктрина stare decisis: борьба за прецедент в рос...</h4>
					<p>18 июня в «Клубе цивилистов» пройдет бесплатный онлайн-семинар по проблематике судебного прецедента. Мероприятие приуроч...</p>
				</div>
				<button class="news__card-button">
				Читать
				</button>
			</div>
		</div>
	</div>
	<div class="news__show g-show">
			<button class="news__show-button g-show-button">
				<span class="news__show-button_mobile g-show-button_mobile">Показать все новости</span>
			</button>
		</div>
</div>