
<div class="boxes">
	<div class="boxes__container container">
		<div class="boxes__box">
		<img alt="#" class="boxes__box-img" src="img/chasi.png">

		<div>
			<h3 class="boxes__box-title">
			Быстрая доставка
			</h3>
			<p class="boxes__box-subtitle">
			Доставим бесплатно от 2000 ₽ по всей России
			</p>
		</div>
		</div>

		<div class="boxes__box">
		<img alt="#" class="boxes__box-img" src="img/karta.png">
		<div>
			<h3 class="boxes__box-title">
			Безопасная оплата
			</h3>
			<p class="boxes__box-subtitle">
			Плати безопасно и легко онлайн на нашем сайте.
			</p>
		</div>
		</div>

		<div class="boxes__box">
		<img alt="#" class="boxes__box-img" src="img/zvezda.png">
		<div>
			<h3 class="boxes__box-title">
			Бонусная программа
			</h3>
			<p class="boxes__box-subtitle">
			Дополнительная скидка 15% при регистрации
			</p>
		</div>
		</div>

		<div class="boxes__box">
		<img alt="#" class="boxes__box-img" src="img/sumka.png">
		<div>
			<h3 class="boxes__box-title">
			Большой выбор
			</h3>
			<p class="boxes__box-subtitle">
			Ежегодно выходит в свет более 100 книг
			</p>
		</div>
		</div>
	</div>
</div>

