<div class="proposal">
	<div class="proposal__container">
		<div class="left__block">
				<div class="slider__container">	
					<div class="slider__track">
						<div class="slider-item">
							<div class="center">
								<p>2=3</p>
								<p>на все книги</p>
							</div>
						</div>
						<!-- <div class="slider-item"></div>
						<div class="slider-item"></div>
						<div class="slider-item"></div> -->
					</div>
				<div class="slider-buttons">
					<button class="btn-prev btn"><p><i class="arrow btn-left"></i></p></button>
					<button class="btn-next btn"><p><i class="arrow btn-right"></i></p></button>
				</div>
			</div>
			<div class="notifications__blocks">
				<div class="notifications__block left">
					<div class="notifications__block-img-left">
						{% include '/assets/svg/curveleft.svg' %}
					</div>
					<p>	Бесплатно доставим <br>
						ваш заказ при <br>
						покупке от 2000 ₽
					</p>
					{% include '/assets/svg/worker.svg' %}
				</div>
				<div class="notifications__block right">
					<div class="notifications__block-img-right">
						{% include '/assets/svg/curveright.svg' %}
					</div>
					<p>
						Скидка <br>
						при регистрации <br>
						до 15%
					</p>
					{% include '/assets/svg/manonsofa.svg' %}
				</div>
			</div>
		</div>
		<div class="book">
			<div class="book__header">
				<p class="book__title">Книга дня</p>
				<span class="book_time">08:56:31</span>
			</div>
			<div class="book__picture">
					<img src="img/bookday.png" alt="">
			</div>
			<div class="book__description">
				<p class="book__name">
					Корпоративное право
				</p>
				<p class="description">
					Инвестирование: способы, риски, субъекты : монография
				</p>
				<p class="book__author">
					Майфат А.В.
				</p>
				<p class="book-price">
					4 450 ₽ 
				</p>
				<div class="book-button">
					<button class="button-buy">
						{% include '/assets/svg/bagorange.svg' %}
						В корзину
					</button>
					<button class="button-bookmark">
						{% include '/assets/svg/mark.svg' %}
					</button>
				</div>
			</div>
		</div>
	</div>
</div>