<div class="proposal">
	<div class="proposal__container container">
		<div class="proposal__wrapper">
			<div class="proposal__slider-container _proposal__slider-container">
				<div class="proposal__slider-track _proposal__slider-track">
						<img src="img/slider.png" alt="#" class="proposal__slider-item _proposal__slider-item">
						<img src="img/slider.png" alt="#" class="proposal__slider-item _proposal__slider-item">
						<img src="img/slider.png" alt="#" class="proposal__slider-item _proposal__slider-item">
						<img src="img/1.png" alt="#" class="proposal__slider-item _proposal__slider-item">
				</div>
				<button class="proposal__button proposal__button_left g-title-button">{% include "assets/svg/arrowSlideLeft.svg" %}</button>
				<button class="proposal__button proposal__button_right g-title-button">{% include "assets/svg/arrowSlideRight.svg" %}</button>
				<div class="proposal__dots">
					<div class="proposal__dot _proposal__dot proposal__dot_active"></div>
					<div class="proposal__dot _proposal__dot"></div>
					<div class="proposal__dot _proposal__dot"></div>
					<div class="proposal__dot _proposal__dot"></div>
				</div>
			</div>
			<div class="proposal__book-mobile">
				<div class="proposal__book-title">
					<span>Книга дня</span>
					<span>08:56:31</span>
				</div>
				<div class="proposal__book-img">
					<img src="img/bookday.png" alt="">
				</div>
				<div class="proposal__book-genre  g-book-genre">
					<span>Корпоративное право</span>
				</div>
				<div class="proposal__book-description g-book-description">
					<span>Инвестирование: способы, риски, субъекты : монография</span>
				</div>
				<div class="proposal__book-author g-book-author"><span>Майфат А.В.</span></div>
				<div class="proposal__book-price g-book-price">4 450 ₽ </div>
				<div class="proposal__book-button g-book-button">
					<button>
						{% include "assets/svg/bagorange.svg" %}
						<span>В корзину</span>
					</button>
					<button>
						{% include "assets/svg/mark.svg" %}
					</button>
				</div>
			</div>
			<div class="proposal__description">
				<div class="proposal__description-worker">
					<p>
						<span>Бесплатно {% include "assets/svg/curveleft.svg" %}</span> доставим<br>
						ваш заказ при<br>
						покупке от 2000 ₽
					</p>
					{% include "assets/svg/worker.svg" %}
				</div>
				<div class="proposal__description-sale">
					<p>
						Скидка<br>
						при регистрации<br>
						до <span>15% {% include "assets/svg/curveright.svg" %}</span>
					</p>
					{% include "assets/svg/manonsofa.svg" %}
				</div>
			</div>
		</div>
		<div class="proposal__book container">
			<div class="proposal__book-title">
				<span>Книга дня</span>
				<span>08:56:31</span>
			</div>
			<div class="proposal__book-img">
				<img src="img/bookday.png" alt="">
			</div>
			<div class="proposal__book-genre">
				<span>Корпоративное право</span>
			</div>
			<div class="proposal__book-description">
				<span>Инвестирование: способы, риски, субъекты : монография</span>
			</div>
			<div class="proposal__book-author"><span>Майфат А.В.</span></div>
			<div class="proposal__book-price">4 450 ₽ </div>
			<div class="proposal__book-button">
				<button>
					{% include "assets/svg/bagorange.svg" %}
					<span>В корзину</span>
				</button>
				<button>
					{% include "assets/svg/mark.svg" %}
				</button>
			</div>
		</div>
	</div>
</div>