<div class="discounts">
	<hr>
	<div class="container">
		<div class="discounts__icon_mobile">
			<a class="discounts__icon-link_mobile" href="#">{% include "assets/svg/facebookcolor.svg" %}</a></>
			<a class="discounts__icon-link_mobile" href="#">{% include "assets/svg/vkcolor.svg" %}</a></>
			<a class="discounts__icon-link_mobile" href="#">{% include "assets/svg/instagramcolor.svg" %}</a></>
			<a class="discounts__icon-link_desktop" href="#">{% include "assets/svg/facebookgrey.svg" %}</a></>
			<a class="discounts__icon-link_desktop" href="#">{% include "assets/svg/instagramgrey.svg" %}</a></>
			<a class="discounts__icon-link_desktop" href="#">{% include "assets/svg/twittergray.svg" %}</a></>
		</div>
		<div class="discounts__sale">
			<div class="discounts__logo g-logo">
			<a href="index.html">{% include "assets/svg/logo.svg" %}</a>
			</div>
			<form class="discounts__form">
			<input type="text" placeholder="Подписаться на рассылку" class="discounts__form-input g-form-input">
			<button class="discounts__form-button g-form-button"> {% include "assets/svg/telegram.svg" %}</button>
			</form>
		</div>
	</div>
	<hr>
</div>