li
{
	list-style-type: none;
}

.footer__top
{
	background-color:rgba(40, 47, 54, 0.1);

}

.footer__search
{
	flex-basis: 39%;
	min-width: 270px;
}

.footer__search-input::placeholder
{
	display: none;
}

.footer__input-button-search
{
	padding: 11px 15px;
}

.footer__top-container
{
	padding: 25px 0;
	display: flex;
	max-width: 1138px;
	margin: 0 auto;
	justify-content: space-between;

	@media screen and (max-width: 767px) {
			display: flex;
				flex-wrap: wrap;
				justify-content: center;
				gap: 15px;
				border-bottom: 1px solid #DFE0E1;
		}
}

.footer__container
{
	max-width: 1138px;
	margin: 0 auto;
}
.footer__social-container
{
	display: flex;
	justify-content: space-evenly;

	@media screen and (max-width: 767px) {
		display: none;
	}
}


.footer__search-input
{
	max-width: 400px;
	width: 100%;

}

.footer__link
{
	// &:first-child
	// {
	// 	justify-content: center;
	// 	align-items: center;
	// 	display: flex;
	// 	height: 40px;
	// 	width: 40px;
	// 	border-radius: 50%;
	// 	background-color:#3064CE;
		

	// 	a
	// 	{
	// 		height: 18px;
	// 	}
	// }


	margin-right: 15px;

	&:last-child
	{
		margin: 0;
	}
}

.footer__input-search-icon-mobile
{
	display: flex;
	padding: 0;
	padding: 11px 15px 12px;
}

.footer__links-container
{
	margin-top: 30px;
	display: flex;
	justify-content: start;
	border-bottom: 1px solid #282F3626;
	padding-bottom: 45px;

	@media screen and (max-width: 767px)
	{
			flex-direction: column;
			padding-bottom: 0;
			border-bottom: 0;
		}
}

.footer__link-container
{
	display: flex;
	flex-direction:column;
	justify-content: start;
	margin-right: 70px;

	@media screen and (max-width: 767px)
	{
			border-bottom: 1px solid #1C294D26;
;
			margin: 0 20px;

			h5
			{
				font-size: 16px;

				font-weight: 500;
				margin: 10px;
			}

			&:last-child
			{
				display: none;
			}

			&:nth-last-child(2)
			{
				padding: 0 20px;
				margin-right: 0;
			}
		}
	a:not(.arrow)
	{
		color: #1C294DCC;
		margin: 0;
		margin-bottom: 15px;

		@media screen and (max-width: 767px)
		{
			
			display: none;

			
		}
	}

	&:nth-child(4)
	{
		justify-content: start;
		margin: 0;
		margin-right: 30px;

	}

	&:last-child
	{
		display: flex;
		justify-content: start;

		a
		{
			font-weight: 400;
			color: #1C294DCC;
			margin-bottom: 0;
		}

	}


}

.footer__link-download
{
	color: #282F36CC;
	font-weight: 500;
	display: flex;

	p
	{
		font-size: 14px;
		margin: 0;
		margin-left: 15px;
	}

	span
	{
		color:#282F3680;
		font-size: 12px;
	}

	&:nth-child(4)
	{
		display: flex;
		justify-content: start;
	}
}

.footer__contact-container
{
	margin-bottom: 10px;
}

// footer__bottom

.footer__bottom
{
	margin: 40px 0 45px;
	display: flex;

	@media screen and (max-width: 767px)
	{
		flex-direction: column-reverse;
	}
}

.footer__bottom-public
{
	font-size: 14px;
	color: #1C294D80;

	p
	{
		margin: 0;
	}

	@media screen and (max-width: 767px)
	{
		padding-left: 35px;
		margin-top: 20px;
	}

}

.footer__bottom-politics
{
	margin-left: auto;
	text-align: center;
	display: flex;

	a
	{
		color: #1C294DCC;
		font-size: 14px;

		&:nth-child(2)
		{
			margin-left: 30px;
			@media screen and (max-width: 767px)
			{
				margin-left: 0;
			}
		}
	}

	@media screen and (max-width: 767px)
	{
		display: flex;
		flex-direction: column-reverse;
		justify-content: start;
		margin-left: 0;

		a
		{
			margin-left: 1px;
			text-align: left;
		}
	}
}

.footer__politics-link
{

	@media screen and (max-width: 767px)
	{
		padding-left: 30px;
		order: -1;

		&:first-child
		{
			margin-bottom: 10px;
		}
		&:last-child
		{
			border-bottom: 1px solid #1C294D26;
			padding-bottom: 20px;
		}
		a:first-child
		{
			margin-left: 0;
		}
	}
}

// MOBILE

.footer__social-links_mobile
{
	display: none;


	@media screen and (max-width: 767px)
	{
		display: flex;
		justify-content: center;
		border-bottom: 1px solid #1C294D26;
		padding-bottom: 20px;
		gap: 15px;
	}
}

.footer__social-links_mobile .footer__link_mobile
{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 50%;

	&:first-child
	{
		width: 40px;
		height: 40px;
		background-color: #3064CE;
		z-index: 0;
		a{
			z-index: 1;
			height: 18px;}
	}

	&:nth-child(2) a
	{
		width: 40px;
		height: 40px;
	}

	&:last-child
	{
		width: 40px;
		height: 40px;
		background-color: #E4405F;
		a{height: 20px;}
	}
}

.footer__link-list-title
{
	display: flex;
	justify-content: space-between;
	align-items: baseline;
}

.footer__link-download
{
	@media screen and (max-width: 767px)
	{
		display: none;
	}
}

.footer__link-container .arrow
{
	display: none;

	@media screen and (max-width: 767px)
	{
		display: block;
		height: 8px;

	}
}

.footer__offer
{
	margin-left: 67px;
	display: flex;
	
	@media screen and (max-width: 767px)
	{
		display: flex;
		text-align: left;
		flex-direction: column;
		margin-left: 0;
		margin-top: 20px;
		// border-bottom: 1px solid #1C294D26;
		padding-bottom: 20px;
		

		a
		{
			color: #1C294D80;
		}
		a:first-child
		{
			margin-bottom: 10px;
		}
	}
	
}

.footer__bottom
{
	margin-top: 0;
}

.footer__contacts
{
	display: flex;
	flex-direction: column-reverse;
}

.footer__bottom .header__link-top
{	display: none;

	@media screen and (max-width: 767px)
	{
		display: flex;
		margin-left: 0;
		border-bottom: 1px solid #1C294D26;
		justify-content: start;
		padding: 0 0 22px 30px

	}
}

.footer__mesto
{
	display: flex;
	justify-content: start;
	flex-direction: row-reverse;
	border-bottom: 1px solid #1C294D26;
	padding-bottom: 20px;

	a.footer__politics-link
	{
		border-bottom: none;
		padding: 0;

	}

}



.footer__bottom-politics .footer__mesto .icon_mobile
{
	display: none;
	@media screen and (max-width: 767px)
	{
		display: block;
		margin-left: 33px;
	}
}

.footer__bottom a.bold-link
{
	margin-right: 0;
}