	<footer class="footer">
		<div class="footer__container container">
			<div class="footer__top-box">
				<div class="footer__columns">
					<h3 class="footer__columns-title">
						Покупателям
					</h3>
					<a href="#" class="footer__columns-link">Наша почта</a>
					<a href="#" class="footer__columns-link">Оплата и доставка</a>
					<a href="#" class="footer__columns-link">Вопросы и ответы</a>
				</div>
				<div class="footer__columns">
					<h3 class="footer__columns-title">
						Издательство
					</h3>
					<a href="#" class="footer__columns-link">О компании</a>
					<a href="#" class="footer__columns-link">Авторам</a>
					<a href="#" class="footer__columns-link">Вакансии</a>
					<a href="#" class="footer__columns-link">Контакты</a>
				</div>

				<div class="footer__columns">
					<h3 class="footer__columns-title">
						Книги
					</h3>
					<a href="#" class="footer__columns-link">Все категории</a>
					<a href="#" class="footer__columns-link">Бестселлеры</a>
					<a href="#" class="footer__columns-link">Новинки</a>
					<a href="#" class="footer__columns-link">Скидки и акции</a>
				</div>
				<div class="footer__columns">
					<h3 class="footer__columns-title">
						Прайс-лист
					</h3>
					<div class="footer__columns-download">
						{% include '/assets/svg/file.svg' %}
						<div>
							<a href="#" class="footer__columns-link">Скачать прайс-лист</a>
							<span>PDF, 12 Mb</span>
						</div>
					</div>
				</div>

				<div class="footer__columns">
					<h3 class="footer__columns-title">
						Телефон и Email
					</h3>

					<a href="#" class="footer__columns-link">
						{% include '/assets/svg/icon3.svg' %}market@estatut.ru
					</a>

					<a href="#" class="footer__columns-link">
						{% include '/assets/svg/icon4.svg' %}8 (968) 660-65-50
					</a>
				</div>
			</div>

			<div class="footer__bottom-box">
				<span>© 2020 Издательство «Статут»</span>
				<a href="#" class="footer__link">
					ул. Лобачевского, 92, корп. 2 119454, г. Москва
				</a>
				<a href="#" class="footer__link">Политика конфиденциальности</a>
				<a href="#" class="footer__link">Договор оферты</a>
			</div>
		</div>
		<div class="footer__mobile">
			<div class="footer__container-mobile container">
				<ul class="footer__links-mobile">
					<li class="footer__link-mobile">
						<a href="#">Покупателям</a>{% include '/assets/svg/vniz.svg' %}
					</li>
					<li class="footer__link-mobile">
						<a href="#">Издательство</a>{% include '/assets/svg/vniz.svg' %}
					</li>
					<li class="footer__link-mobile">
						<a href="#">Книги</a>{% include '/assets/svg/vniz.svg' %}
					</li>
					<li class="footer__link-mobile">
						<a href="#">Прайс-лист</a>{% include '/assets/svg/vniz.svg' %}
					</li>
				</ul>
			</div>
			<ul class="footer__contacts-mobile">
				<li class="footer__contact-mobile footer__contacts-mobile-privacy">
					<a href="#" class="footer__contacts-mobile-privacy">
						Политика конфиденциальности
					</a>
					<a href="#" class="footer__contacts-mobile-privacy">Договор оферты</a>
				</li>
				<li class="footer__contact-mobile">
					{% include '/assets/svg/icon4.svg' %}<a href="#"
						class="footer__contact">
						8 (968) 660-65-50
					</a>{% include '/assets/svg/icon5.svg' %}
				</li>
				<li class="footer__contact-mobile">
					{% include '/assets/svg/icon3.svg' %}<a href="#"
						class="footer__contact">
						market@estatut.ru
					</a>
				</li>
				<li class="footer__contact-mobile">
					{% include '/assets/svg/icon.svg' %}<a href="#"
						class="footer__contact-adress">
						ул. Лобачевского, 92, корп. 2 119454, г. Москва
					</a>
				</li>
				<li class="footer__contact-mobile footer__contacts-mobile-privacy">
					<span>© 2020 Издательство «Статут»</span>
				</li>
			</ul>
		</div>
	</footer>