.footer__top-box {
	display: flex;
	box-sizing: border-box;
	padding: 45px 0 25px;
}

.footer__columns {
	display: flex;
	flex-direction: column;
	margin-right: 69px;

	span {
		display: block;
		font-style: normal;
		font-weight: 400;
		font-size: 12px;
		line-height: 15px;
		color: #282f3680;
	}

	&:nth-child(2){margin-right: 101px;}
	&:nth-child(3){margin-right: 90px;}
	&:nth-child(4){margin-right: 36px;}
}

.footer__columns-title {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	color: #1c294d;
	margin-top: 0;
	margin-bottom: 27px;
}

.footer__columns-download {
	display: flex;
	align-items: center;

	div {
		margin: -5px 0 0 13px;
	}
}

.footer__columns-link {
	color: #282f36cc;
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 11px;
	margin-bottom: 24px;
}

.footer__bottom-box {
	border-top: 1px solid #282f3626;
	height: 105px;
	display: flex;
	justify-content: space-between;
	align-items: center;

	span {
		font-style: normal;
		font-weight: 400;
		font-size: 14px;
		line-height: 20px;
		color: #1c294d80;
	}
}

.footer__link {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 20px;
	color: #1c294dcc;

	&:nth-child(2) {
		margin-left: 154px;
	}
}

.footer__mobile {
	display: none;
}

.footer__link-mobile {
	font-style: normal;
	font-weight: 400;
	font-size: 16px;
	line-height: 20px;
	height: 60px;
	border-bottom: 1px solid #1c294d26;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 10px;

	@include mq($tablet)
	{

		padding: 0;
	}

	a {
		color: #2a3d48;
	}

	&:last-of-type {
		border: none;
	}
}

.footer__contact-mobile {
	padding: 0 20px;
	height: 60px;
	border-top: 1px solid #1c294d26;
	display: flex;
	align-items: center;

	&:first-of-type {
		height: 90px;
	}


	@include mq($tablet)
	{
	padding: 0 40px;
	}
}

.footer__contacts-mobile-privacy {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 30px;
	color: #1c294d80;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	margin-top: 3px;

	a
	{
		margin-top: 0;
	}

	@include mq($tablet)
	{
	padding: 0 40px;
	margin-top: 0;
	}
}

.footer__contact {
	font-size: 14px;
	line-height: 20px;
	display: flex;
	align-items: center;
	margin: 0 8px;
	color: #1c294d;

	&:last-of-type {
		color: #1c294dcc;
	}
}

.footer__contact-adress {
	font-size: 14px;
	line-height: 20px;
	margin: 0 0 0 8px;
	color: #1c294d;
}

@media screen and (max-width: 1100px) {
	.footer__mobile {
		display: block;
	}

	.footer__container {
		display: none;
	}
}
