.receipts
{
	margin-top: 30px;
	padding-top: 20px;
	margin-bottom: 30px;
}

.receipts__header
{
	justify-content: space-between;
	align-items: baseline;
	display: flex;
	position: relative;
}

.receipts__slider__buttons
{
	display: flex;
}

.receipts__header__btn-left
{
	border-radius: 5px 0 0 5px;
	border: 1px solid #1C294D26;
	padding: 0;

	p
	{
		margin: 0;
		padding: 3px 7px;
	}

	

	li
	{
		padding: 0;
	}

}

.receipts__header__btn-right
{
	border-radius: 0 5px 5px 0 ;
	border: 1px solid #1C294D26;
	padding: 0;

	p
	{
		margin: 0;
		padding: 3px 7px;
	}

	

	li
	{
		padding: 0;
	}

}

.receipts__container
{
	max-width: 1138px;

	margin: 0 auto;
}

.receipts__items-container
{
	
	display: flex;

}

span
{
	padding: 0;
	margin: 0;
}

.book
{
	padding: 0;
	align-self: center;
}

.receipts__item
{
	position: relative;
	padding: 20px;
	border-collapse: collapse;
	border: 1px solid #1C294D26;
	// width: 263px;
	display: flex;
	flex-direction:column;

	// :hover
	// {
	// 	cursor: pointer;
	// }
}

.receipts__item:first-child
{
	border-left: none;
}

.receipts__item:last-child
{
	border-right: none;
}



.item__bestseller
{
	top: 35px;
	position: absolute;
	background-color: #EEE9F7;
	color: #AC8EE3;
	padding: 3px 10px;
	font-size: 12px;
	text-align: center;
	border-radius: 5px;
}

.item__stock
{
	border-radius: 5px;
	top: 65px;
	padding: 2px 15px;
	background: #FFEEEE;
	color: #FF4F52;
	font-size: 12px;
	position: absolute;
}

.second
{
	background-color: rgba(61, 196, 126, 15%);
	color: #3DC47E;

}

.book1
{
	width: 140px;
}

.book__header
{
	display: flex;
	justify-content: space-between;
	align-items: center;

	p
	{
		
		color: #000;
		font-weight: 600;
	}
}


.item__picture
{
	text-align: center;
}

.item__name
{
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}

.description
{
	color: #1C294D;
	font-size: 14px;
	font-weight: 600;
	line-height: 19px;
}

.item__description__price
{
	display: flex;
	flex-decoration: row;
	position: relative;

	.active
	{
		color: red;
	}

	.noactive
	{
		align-self: center;
		margin: 0 10px;
		font-size: 12px;
		color: #1C294D80;

		.line
		{
			position: absolute;
			left: 55px;
			top: 10px;
		}

	}

	.green
	{
		color: #0DB98C;
		font-size: 12px;
		font-weight: 400;

	}
}

.item__author
{
	font-size: 12px;
	font-weight: 400;
	line-height: 15px;
}

.item__price
{
	font-size: 18px;
	font-weight: 700;
	line-height: 20px;
	color: #000;
	margin-bottom: 12px;
}



.item__rating
{
	font-size: 12px;
	border-radius: 5px;
	background: rgba(251, 192, 45, 15%);
	padding: 5px;
	color: #FBC02D;

}

.item__recommendation
{
	background-color: rgba(121, 134, 203, 15%);
	color: #7986CB;
	font-size: 12px;
	border-radius: 5px;
	padding: 5px 10px;
}

.item__button 
{

	margin-top: 15px;
	display: flex;

	:not(:last-child)
	{
		padding: 0 20px;
		margin-right: 10px;
	}

	button
	{
		padding: 12px 15px;
		outline: none;
		border-radius: 5px;
		border: 1px solid #EEEEEE;
		font-size: 14px;
		font-weight: 500;
		line-height: 15px;


	}

}

.receipts__btn
{
	text-align: center;
}

.show-books 
{
	border: none;
	p
		{
		color: #000;
		font-size: 14px;
		font-weight: 600;
		}
}

// EMAIL

.receipts__email
{
	margin-top: 30px;
	padding: 33px 0;
	justify-content: space-evenly;
	align-items: center;
	position: relative;
	border-radius: 5px;
	display: flex;
	background: #0288D1;

	.email__text
	{
		margin: 0;
		padding: 0;
		z-index: 1;
		color: #fff;
		font-size: 18px;
		font-weight: 700;
	}
}

.receipts__email__curve
{
	position: absolute;
	top: 40px;
	left: 85px;
}



.receipts__email__input
{
	outline: none;
	border: 1px solid rgba(121, 134, 203, 1%);
}

.receipts__email__input
{
	color:#1C294D80;
	font-size: 14px;
	font-weight: 400;

	margin-right: 10px;
	border-radius: 5px;
	padding: 10px 0 10px 15px;
	width: 406px;
}

form input.receipts__email__btn
{
	padding: 0;
	margin: 0;

	color:#fff;
	border-radius: 5px;
	background: #0288D1;
	border: 1px solid #fff;
	padding: 10px 25px;
}

// CARDS

.cards__container
{
	display: flex;
	margin-top: 30px;
	justify-content: space-evenly;



}

.card__item
{
	margin-left: 87px;
	position: relative;
	max-width: 280px;
	margin-right: 40px;
	display: flex;


}

.card__item__image
{

	position: absolute;
	left: -95px;
}

.main__card__text
{
	font-size: 12px;
}

.main__card__title
{
	font-size: 16px;
	letter-spacing: -0.3px;
}