.mail
{
	margin-bottom: 25px;
	@include mq($tablet)
	{
		margin-bottom: 45px;
	}
}

.mail__card
{
	background-color: #0288D1;
	padding: 18px 10px;
	border-radius: 5px;
	@include mq($tablet)
	{
		display: flex;
		align-items: center;
		justify-content: space-between;
		padding: 32px 45px;
	}
}

.mail__card-sale
{
	margin: 0 0 10px;
	font-size: 18px;
	color: #fff;
	position: relative;
	z-index: 1;
	max-width: 250px;
	@include mq($tablet)
		{
			max-width: 471px;
			margin-bottom: 0;
			// margin-right: 27px;
		}

	span
	{
		svg
		{
			position: absolute;
			left: 55px;
			top: 0;
			z-index: -1;
		}
	}
}

.mail__card-input
{
	max-width: 355px;
	width: 100%;
	margin-bottom: 10px;

	@include mq($tablet)
		{
			margin-bottom: 0;
			max-width: 418px;
		}

	input
	{
		width: 100%;
		border-radius: 5px;
		border: 1px solid #DFE0E1;
		padding: 10px 15px;
		font-size: 14px;
	}
}

.mail__card-button
{
	width: 100%;
	border-radius: 5px;
	border: 1px solid #fff;
	padding: 10px 0 8px;
	color: #fff;
	font-size: 14px;

	@include mq($tablet)
		{
			width: 137px;
		}
}