<div class="mail">
	<div class="container">
		<div class="mail__card">
			<p class="mail__card-sale">
				Скидка <span>200 ₽ {% include "assets/svg/curveorange.svg" %}</span> при подписке  на рассылку Издательства
			</p>
			<form class="mail__card-input">
				<input type="text" placeholder="Введите ваш Email">
			</form>
			<button class="mail__card-button">Подписаться</button>
		</div>
	</div>
</div>