.header
{
	margin-bottom: 50px;
	@media screen and (max-width: 543px) {
		
		display: flex;
		border-bottom: 1px solid #DFE0E1;
		margin-bottom: 10px;
	}
}

// TOP

.header__container-top
{
	border-bottom: 1px solid #DFE0E1;
	max-width: 1366px;

	@media screen and (max-width: 543px) {
		border: none;
		padding: 0;
		display: none;
	}
}

.header__container-top.container
{
	@media screen and (max-width: 767px) {
		
		padding: 0;
	}
}

.link
{
	display: flex;
	flex-direction:row-reverse;
	font-size: 14px;
	color: #1C294D;
}

.bold-link
{
	font-weight: 600;
}

.header__links-top
{
	display: flex;
	flex-wrap: wrap;
	@media screen and (max-width: 543px) {
		display: flex;
	}
}

.header__link-top
{
	color: #1C294DCC;
	align-items: center;
	margin: 17px 0;
	margin-right: 32px;

	&:last-child
	{
		margin-right: 0;
	}

	&:nth-child(3)
	{
		margin-right: auto;
	}
}

.header__top-link-icon
{
	display: flex;
	
}

.icon
{
	padding-right: 10px;
}

.header__link-top:last-child .header__top-link-icon:last-child 
{
	margin: 0;
	order: -1;
	margin-left: 7px;
	padding-right: 0;
}

// MID

.header__container-mid
{
	margin-top: 21px;
	display: flex;
	justify-content: space-between;

	@media screen and (max-width: 767px) {
		margin-right: 0;
		padding-left: 0;
	}
}

.header__form-search
{
	max-width: 573px;
	width: 100%;
	margin-right: auto;
	margin-left: 30px;

	@media screen and (max-width: 1043px) {
		margin-left: 10px;
	}
}

.form-search
{
	display: flex;
	height: 40px;
}

.search-input
{
	border: 1px solid #DFE0E1;
	border-radius: 5px 0 0 5px;
	color: #1C294D80;
	
}

.header__search-input 
{
	max-width: 450px;
	width: 100%;
	padding: 10px 0 10px 15px;

	@media screen and (max-width: 1043px) {
		
	}
	
	@media screen and (max-width: 767px) {
		border: none;
		width: 50%;
	}

	@media screen and (max-width: 767px) {
		border: none;
		width: 100%;
	}
}

.button-search
{
	background: #FF7A00;
	border: none;
	border-radius: 0 5px 5px 0;
}

.button-text
{
	font-size: 14px;
	font-weight: 400;
	color: #fff;
}

.header__input-button-search
{
	display: flex;
	align-items: center;
	padding: 10px 25px;

	@media screen and (max-width: 768px) {
		background:white;
	}
	@media screen and (max-width: 525px) {
		max-width: 355px;
	}
}

.header__button-text{
	@media screen and (max-width: 768px) {
		display: none;
	}
}

.header__input-search-icon-mobile
{
	display: none;
	@media screen and (max-width: 767px) {
		display: block;
	}
}


.header__links-container-mid
{
	display: flex;
	// @media screen and (max-width: 543px) {
	// 	display: none;
	// }
}

.header__input-search-icon
{
	@media screen and (max-width: 525px) {
		display: none;
	}
}

.header__link-mid
{
	align-items: center;
	margin-right: 30px;
	&:last-child
	{
		position: relative;
		margin-right: 0;
	}

	@media screen and (max-width: 525px) {
		 .basket
		 {
		 	display: none;
		 }

			&:not(:last-child) , 
		{

			display: none;
		}
	}

	

}

.header__link-mid:last-child::after
{
	position: absolute;
	bottom: 23px;
	left: 10px;
	width: 15px;
	height: 15px;
	border-radius: 50%;
	font-size: 9px;
	display: flex;
	justify-content: center;
	align-items: center;
	content: "10";
	color: #fff;
	background-color: #FF7A00;

}

// BOTTOM

.header__container-bot
{
	margin-top: 20px;
	@media screen and (max-width: 543px){
		order: -1;
		// padding-right: 0;
		}
}

.header__list-bot
{
	display: flex;

}

.header__link-bot
{
	display: flex;
	justify-content: space-between;
	margin-right: 25px;

	a
	{
		color: #1C294D;
	}

	&:not(:first-child) , a
	{
		@media screen and (max-width: 543px){
		display: none;
		margin-right: 0;
		}
	}
}

.link_active
{
	color: #FF283D;

}

.header__list-icon
{
	padding-right: 7px;
}