<header class="header">
	<div class="container">
		<div class="header__top">
			<ul class="header__top-list">
				<li>{% include "assets/svg/mesto.svg" %}<a href="" class="header__top-link">Москва</a></li>
				<li>{% include "assets/svg/box.svg" %}<a href="" class="header__top-link">Доставка и оплата</a></li>
				<li>{% include "assets/svg/adress.svg" %}<a href="" class="header__top-link">Адрес и часы работы</a></li>
			</ul>
			<ul class="header__top-list">
				<li>{% include "assets/svg/mail.svg" %}<a href="" class="header__top-link header__top-link_bold">market@estatut.ru</a></li>
				<li>{% include "assets/svg/phone.svg" %}<a href="" class="header__top-link header__top-link_bold">8 (968) 660-65-50</a>{% include "assets/svg/info.svg" %}</li>
			</ul>
		</div>
	</div>
	<hr>
	<div class="container">
		<div class="header__mid">
			<a class="header__mid-logo-burger-mobile">
				{% include "assets/svg/burger.svg" %}
			</a>
			<div class="header__mid-logo g-logo">
				<a href="index.html">{% include "assets/svg/logo.svg" %}</a>
			</div>
			<form class="header__mid-form">
				<input type="text" placeholder="Автор, название, ISBN" class="header__mid-form-input">
				<button class="header__mid-form-button"> {% include "assets/svg/search.svg" %} <span>Искать</span></button>
			</form>
			<form class="header__mid-form-mobile">
				<input type="text" placeholder="Что будем искать?" class="header__mid-form-input">
				<button class="header__mid-form-button"> {% include "assets/svg/searchgray.svg" %}</button>
			</form>
			<ul class="header__mid-nav">
				<li><a href="" class="header__mid-nav-link">{% include "assets/svg/mark.svg" %}<span>Отложено</span></a></li>
				<li><a href="" class="header__mid-nav-link">{% include "assets/svg/smile.svg" %}<span>Войти</span></a></li>
				<li><a href="" class="header__mid-nav-link header__mid-nav-counter">{% include "assets/svg/basket.svg" %}<span>Корзина</span></a></li>
			</ul>
			<a href="" class="header__mid-nav-counter header__mid-counter-mobile">{% include "assets/svg/basketmobile.svg" %}</a>
		</div>
		<div class="header__bot">
			<ul class="header__bot-nav">
				<li><a href="" class="header__bot-nav-link"> {% include "assets/svg/burger.svg" %} <span>Каталог</span></a></li>
				<li><a href="" class="header__bot-nav-link">Авторы</a></li>
				<li><a href="" class="header__bot-nav-link">Новинки</a></li>
				<li><a href="" class="header__bot-nav-link header__bot-nav-link_active">{% include "assets/svg/tag.svg" %} <span>Скидки</span></a></li>
				<li><a href="" class="header__bot-nav-link">Партнёрам</a></li>
				<li><a href="" class="header__bot-nav-link">Мы</a></li>
			</ul>
		</div>
	</div>
	<hr class="header__hr_mobile">
</header>
