// TOP

.container
{
	max-width: 1140px;
}

.header__container-top
{
	border-bottom: 1px solid #DFE0E1;
	max-width: 1366px;
}

.link
{
	display: flex;
	flex-direction:row-reverse;
}

.bold-link
{
	font-weight: 600;
}

.header__links-top
{
	display: flex;
}

.header__link-top
{
	color: #1C294DCC;
	align-items: center;
	margin: 17px 0;
	margin-right: 32px;

	&:nth-child(3)
	{
		margin-right: auto;
	}
}

.header__top-link-icon
{
	display: flex;
	padding-right: 10px;	
}

.header__link-top:last-child .header__top-link-icon:last-child 
{
	margin: 0;
	order: -1;
	margin-left: 7px;
}

// MID

.header__container-mid
{
	display: flex;
	justify-content: space-between;
}

.search-input
{
	border: 1px solid #DFE0E1;
	border-radius: 5px 0 0 5px;
		
}

