<header class="header">
	<div class="header__container-top container">
		<div class="header__links-top container">
			<a class="header__link-top link">Москва
				
				<div class="header__top-link-icon icon">{% include 'assets/svg/mesto.svg' %}</div>
			</a>
			<a class="header__link-top link">Доставка и оплата
				<div class="header__top-link-icon icon">{% include 'assets/svg/box.svg' %}</div>
			</a>
			<a class="header__link-top link">Адрес и часы работы
				<div class="header__top-link-icon icon">{% include 'assets/svg/adress.svg' %}</div>
			</a>
			<a class="header__link-top link bold-link">market@estatut.ru
				<div class="header__top-link-icon icon">{% include 'assets/svg/mail.svg' %}</div>
			</a>
			<a class="header__link-top link bold-link">8 (968) 660-65-50
				<div class="header__top-link-icon icon">{% include 'assets/svg/phone.svg' %}</div>
				<div class="header__top-link-icon icon">{% include 'assets/svg/info.svg' %}</div>
			</a>
		</div>
	</div>
	<div class="header__container-mid container">
		<a href="" class="header__logo-footer">
			{% include 'assets/svg/logo.svg' %}
		</a>
		<form action="" class="header__form-search form-search">
			<input type="text" class="header__search-input search-input">
			<input type="submit" class="header__button-search button-search">
		</form>
		<div class="header__links-container-mid">
			<a href="" class="header__link-mid link">Отложено
				<div class="header__top-link-icon icon">{% include 'assets/svg/mark.svg' %}</div>
			</a>
			<a href="" class="header__link-mid link">Войти
				<div class="header__top-link-icon icon">{% include 'assets/svg/smile.svg' %}</div>
			</a>
			<a href="" class="header__link-mid link">Корзина
				<div class="header__top-link-icon icon">{% include 'assets/svg/basket.svg' %}</div>
			</a>
		</div>
	</div>
	<div class="header__container-bot container">
		<div class="header__links-container-bot">
			<ul>
				<li class="header__link-bot"> <a href="">Каталог</a></li>
				<li class="header__link-bot"> <a href="">Авторы</a></li>
				<li class="header__link-bot"> <a href="">Новинки</a></li>
				<li class="header__link-bot"> <a href="">Скидки</a></li>
				<li class="header__link-bot"> <a href="">Партнёрам</a></li>
				<li class="header__link-bot"> <a href="">Мы</a></li>
			</ul>
		</div>
	</div>
</header>